<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>

      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Your Posts:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-6">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
            <div class="col-md-3">
              <button id="edit" type="submit" class="btn" data-id="{{project.id}}"><a class="link" href="/edit/{{project.id}}">EDIT</a></button>
        {{!-- <button id="edit" class="btn btn-sm btn-alert" data-id="{{project.id}}">EDIT</button> --}}
      </div>
      <div class="col-md-3">
        <button id="delete" class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>

{{!-- need edit button, clicking button reroutes them to edit.handlebars in homeroutes, put request in projectRoutes --}}
{{!-- modifying data in api, renderings in homeroutes --}}